html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
body {
    /*Default font and color*/
    font-family: 'alexandriaflfregular','Open Sans', sans-serif;
    color: #3e3939;

    /*Background Image*/
    background-color: white;
}
.tab-content ul li {
    margin-left: auto;
    margin-right: auto;
    float: center;
    max-width: 900px;
    margin-top: 32px;
    font-size: 30px;
    font-family: 'alexandriaflfbold';
    line-height: 36px;
}
.tab-content p {
    margin-left: auto;
    margin-right: auto;
    float: center;
    max-width: 900px;
    margin-top: 32px;
    font-size: 30px;
    font-family: 'alexandriaflfbold';
    line-height: 36px;
}
.tab-content h3 {
    font-family: 'alexandriaflfbold';
    font-size: 90px;
    text-align: center;
    padding: 32px 0px 128px 0px;
    line-height: 69px;
    color: #3e3939;
}

a {
    text-decoration: none;
    color: #3e3939;
}
a:hover {
    text-decoration: none;
    color: #3e3939;
}
.container h1 {
    font-family: 'alexandriaflfbold', 'Open Sans';
	font-size: 130px;
	text-align: center;
	color: #3e3939;
}
.tab-content {
    max-width: 1170px;
}
.tab-content h2 {
    font-family: 'alexandriaflfregular';
    font-size: 45px;
    text-align: left;
    max-width: 940px;
    line-height: 54px;
}
.tab-content h2 span {
    font-family: 'alexandriaflfbold';
    font-size: 45px;
    padding: 5px;
    color: #33cccc;
}
.header p {
	text-align: center;
	font-weight: 400;
}

/***NAVBAR***/
.navbar {
    border-radius: 0px;
    border-bottom: 2px solid #3e3939;
    max-width: 1170px;
    margin: auto;
    background-color: white;
}
.navbar .nav {
    margin-right: -14px;
}
.navbar .container {
    padding-right: 0px;
}
.navbar .navbar-collapse {
    padding-right: 0px;
}
.navbar .nav > li > a {
    font-size: 12px;
    font-family: 'alexandriaflfbold';
    color: #3e3939;
    text-shadow: none;
    margin-bottom: -18px;
    padding-top: 28px;
    padding-right: 16px;
    padding-left: 17px;
}
.navbar .nav > li > a > img {
    padding-right: 10px;
    margin-bottom: -25px;
    margin-top: -30px;
}
.navbar-brand {
    padding-top: 18px;
    margin-bottom: -8px
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
    color: #33cccc;
    background-color: rgba(0,0,0,0);
}
.navbar .nav > li > a:hover {
    color: rgba(0,0,0,0.6);
    background-color: rgba(0,0,0,0);
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
    color: #33cccc;
    background-color: rgba(0,0,0,0);
}
.pull-right {
    float: right;
}
.navbar-brand {
    color: #33cccc;
    font-family: 'alexandriaflfbold';
    font-size: 30px;
    padding-left: 0px;
}
.divider {
    max-width: 940px;
    height: 2px;
    display: block;
    margin: auto;
    background-color: rgba(0,0,0,0.15);
    margin-top: 20px;
}
.navbar-toggle {
    border: none;
    background-color: rgba(0,0,0,0);
}
.navbar-toggle .icon-bar {
    background-color: #3e3939;
}
.navbar-toggle:hover {
    background-color: rgba(0,0,0,0.2);
}
.navbar-toggle:focus {
    background-color: rgba(0,0,0,0);
}
.navbar-collapse {
    border: none;
    overflow: hidden;
}


/***TAB CONTENT***/
#tabcontent {
    padding: 0px 0px 0px 0px;
}
#home img {
    margin-top: -30px;
    width: 40%;   
}
#home .text-container {
    float: right;
    width: 45%;
}
.arrow {
    padding-top: 80px;
    text-align: center;
}
.icon-double-angle-down {
    color: #3e3939;
    font-size: 200px;
}

@media screen and (max-width: 767px) {
    .navbar .container {
        padding-right: 15px;
    }
    .navbar .navbar-collapse {
        padding-right: 15px;
    }
    #home .text-container {
        width: 100%;
    }
    #home img {
        display: none;
    }
}

.tab-content p {
    font-size: 50px
}

.writing {
    padding-top: 100px;
}

.writing p {
    line-height: 50px;
    margin-top: 100px;
    margin-bottom: 200px;
}